@media screen and (max-width:600px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: .69rem;
    }

    .container {
        width: 90%;
    }


    nav h3 {
        margin-left: 1rem;
    }

    nav .container {
        width: 100%;
    }

    nav .container ul {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        z-index: 4;
        width: 13rem;
        transition: var(--transition);
        height: 100vh;
        background-color: var(--color-white);
        box-shadow: 1rem 0 2rem var(--color-primary-light);
        /* display: none; */
    }
 nav.add__shadow{
    box-shadow: 0 0.6rem  3rem var(--color-primary-light);
    border: none;
 }

    nav ul li {
        height: 4.6rem;
        width: 100%
    }

    nav .container ul li a {
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container ul li a:hover {
        padding-left: 3rem;
    }

    nav .container ul li a.active {
        border-radius: 0px 20px 20px 0;
    }

    nav button {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        color: var(--color-black);
        margin-right: 1rem;
    }

    nav button#close__btn {
        display: none;
    }

    section.landing {

        margin-top: -4rem;
        padding-bottom: 7rem;
        max-width: 100vw;
        overflow-x: hidden;
    }

    section.landing .container {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 6rem;
    }

    section.landing .container .socials {
        display: none;
    }

    section.landing .container .info {
        width: 100%;
        margin: 0 auto;

    }

    section.landing .container .info h1 {
        text-align: center;
    }

    section.landing .container .info p {
        margin: 0 auto;
        width: 92%;
    }

    section.landing .container .profile__area {
        grid-row: 1;
        width: 94%;
        margin: 0 auto;
    }

    section.landing .container .outer__circle {
        width: 16rem;
        height: 16rem;
    }

    section.landing .container .inner__circle {
        width: 10rem;
        height: 10rem;
    }

    section.landing .container .outer__circle span {
        height: 3rem;
        width: 3rem;
    }

    section.landing .profile__area .outer__circle span:nth-child(1) {
        left: 40%;
        top: -1.5rem;

    }

    section.landing .profile__area .outer__circle span:nth-child(2) {
        right: -1.5rem;
        top: 40%;
    }

    section.landing .profile__area .outer__circle span:nth-child(3) {
        left: 40%;
        bottom: -1.5rem;

    }

    section.landing .profile__area .outer__circle span:nth-child(4) {
        left: -1.5rem;
        top: 40%;

    }

    /*  about section */

    section.about .container {
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }



    /*  skill section */

    section.skills .container {
        width: 90%;
    }


    /*    services section */
    section.services .container {
        grid-template-columns: 1fr;
    }

    /* portfolio section */
    section.recent__work .container .projects {
        grid-template-columns: 1fr;
    }

    section.recent__work .container h1 {
        width: 94vw;
        margin: 1.4rem 0 1rem;
    }

    /* contact */

    section.contact .container {
        width: 94%;
    }

    section.contact .container p {
        width: 80vw;
        margin: .5rem auto 0;
    }


    /*  footer  */

    footer .container {
        flex-direction: column;
        gap: 3rem;
    }

    footer .container ul {
        flex-direction: column;
        gap: 1.4rem;
        text-align: center;
    }
}



@media screen and (max-width:930px) {
    nav .container ul {
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        z-index: 4;
        width: 13rem;
        transition: var(--transition);
        height: 100vh;
        background-color: var(--color-white);
        box-shadow: 1rem 0 2rem var(--color-primary-light);
        /* display: none; */
    }

    nav ul li {
        height: 4.6rem;
        width: 100%
    }

    nav .container ul li a {
        width: 100%;
        justify-content: start;
        padding-left: 2rem;
    }

    nav .container ul li a:hover {
        padding-left: 3rem;
    }

    nav .container ul li a.active {
        border-radius: 0px 20px 20px 0;
    }

    nav button {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        color: var(--color-black);
        margin-right: 1rem;
        font-size: 1.3rem;
    }

    nav button#close__btn {
        display: none;
    }







  

    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: .69rem;
    }
    section.landing .container {
        grid-template-columns: 1fr;
        grid-template-rows: 20% 50%;
        text-align: center;
        row-gap: 6rem;

    }

    section.landing .container h1,
    section.landing .container p {
        text-align: center;
        margin: 2rem auto;
    }

    section.landing .container .socials {
        display: none;
    }
    section.landing .container .profile__area {
        grid-row: 1;
        width: 94%;
        margin: 2rem auto 3rem;
        height: 50%;
    }
    footer .container {
        flex-direction: column;
        gap: 3rem;
    }

    footer .container ul {
        flex-direction: column;
        gap: 1.4rem;
        text-align: center;
    }
}