@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-dark: #525252;
    --color-black: #141415;
    --color-primary: #0077ff;
    --color-primary-light: hsla(206, 87%, 62%, 0.2);
    --color-success: #29f5a6;
    --color-warning: #ffce31;


    --transition: all 300ms ease;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none ;
}
html{
    font-size: 15px;
    scroll-behavior: smooth;
}
 body{
    background: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    color: var(--color-dark);
    max-width: 100vw;
 }

h1,h2,h3,h4,h5{
    color: var(--color-black);
    line-height: 1.2;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.6rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.2rem;
}
p{
    line-height: 1.8;
}
.container{
    width: 80%;
    margin: 0 auto;
}
section{
    padding: 10rem 0 7rem;
    max-width:100vw ;
    overflow: hidden;
}
section h1{
    text-align: center;
    display: block;
    margin-bottom: 5rem;
}
img{
    width: 100%;
}

.btn{
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--color-black);
    background-color: var(--color-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
    border-radius: 20px;
}
.btn:hover{
    box-shadow: .7rem 1.2rem var(--color-primary-light);
}
.btn__primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}
/* =========------    NAV bar --------==================== */

nav{
    width: 100%;
    height: 5rem;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--color-light);
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
nav button {
    display: none;
}
nav h3{
    color: var(--color-primary);
}
nav .container ul{
    display: flex;
    height: 100%;
}
nav .container ul li a{
    height: 100%;
    width: 7rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    position: relative;
    transition: var(--transition);
}
nav .container ul li a:hover{
color: var(--color-primary);
}
nav ul li a.active {
background-color: var(--color-primary);
color: var(--color-white);
}
nav ul li a.active:hover{
color: var(--color-white);

}

/* =========------  landing page --------==================== */
section.landing{
    display: grid;
    place-items:center;
    position: relative;
    top: 5rem;
    padding-bottom: 14rem;
}
section.landing .container{
    display: grid;
    grid-template-columns: 5rem auto 26rem;
}
section.landing .socials{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 5rem;
}
section.landing .socials a{
    font-size: 1.2rem;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 50%;
    padding: .5rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
section.landing .socials a:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 3px solid var(--color-primary);
}
section.landing .info h1{
    text-align: left;
    margin: 0;
}
section.landing .info h1 span{
    color: var(--color-primary);
}
section.landing .info h3{
    margin: 2.4rem 0 1.1rem;
}
section.landing .info p{
    width: 35rem;
}

section.landing .profile__area{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.landing .profile__area .outer__circle{
    width: 26rem;
    height: 26rem;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: relative;
    box-shadow:  0 0 3rem .5rem var(--color-primary-light);
    animation: move 20s linear infinite;

}
@keyframes move {
    to{
        transform: rotate(360deg);
    }
}
section.landing .profile__area .outer__circle span{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem var(--color-primary-light);


}

section.landing .profile__area .outer__circle span:nth-child(1){
  left: 42%;
  top: -2rem;

}
section.landing .profile__area .outer__circle span:nth-child(2){
  right: -2rem;
  top: 43%;
}
section.landing .profile__area .outer__circle span:nth-child(3){
    left: 43%;
    bottom: -2rem;
  
  }
section.landing .profile__area .outer__circle span:nth-child(4){
    left: -2rem;
    top: 43%;
  
  }
section.landing .profile__area .inner__circle{
   position: absolute;
   width: 20rem;
   height: 20rem;
   border-radius: 50%;
   overflow: hidden;

   /* border: 2px solid black; */
}

/* =========------  about section
--------==================== */

section.about{
    background: var(--color-light);
}


section.about .container{
    display: grid;
    grid-template-columns: 26rem auto;
    gap: 5rem;
    margin-top: -5rem;

}
section.about .info{
    margin-top: 6rem;
}
section.about p{
    margin-bottom: 2rem;
}
section.about .container .read__more{
    display: none;
}

section.about .container .read__more__btn{
    display: block;
    margin: 1rem 0 2rem ;
    color: var(--color-primary);
    cursor: pointer;
}
section.about .container .read__more__btn:hover{
    text-decoration: underline;
}

/* =========------  skills section
--------==================== */
section.skills .container{
    width: 50%;
}

section.skills .skill{
    margin-bottom: 1rem;
}
section.skills .skill .head{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 1.6rem;
    cursor: pointer;
}
section.skills .skill .head h4{
    color: var(--color-white);
}

section.skills .skill .head .left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
section.skills .skill .items{
    display: none;
}

section.skills .skill .item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1.6rem;
    background-color: var(--color-light);
    margin-block: .3rem;
    transition: var(--transition);
}

section.skills .skill .item:hover{
    background-color: var(--color-white);
}
section.skills .skill .item .progress__area{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
section.skills .skill .item .progress__bar{
    width: 100%;
    height: 1rem;
    border-radius: 20px;
    background-color: var(--color-primary-light);
}

/*  skill 1 */
section.skills .skill .item .progress__bar .progress{
    border-radius: 20px;
    height: 100%;
    width: 92%;
    background-color: var(--color-primary);
}
section.skills .skill .item:nth-child(2) .progress__bar .progress{
    width: 88%;
}
section.skills .skill .item:nth-child(3) .progress__bar .progress{
    width: 73%;
}

/*  skill 2 */
section.skills .skill.skill__2 .item:nth-child(1) .progress__bar .progress{
    width: 95%;
}
section.skills .skill.skill__2 .item:nth-child(2) .progress__bar .progress{
    width: 80%;
}
section.skills .skill.skill__2 .item:nth-child(3) .progress__bar .progress{
    width: 72%;
}
section.skills .skill.skill__2 .item:nth-child(4) .progress__bar .progress{
    width: 75%;
}
section.skills .skill.skill__2 .item:nth-child(5) .progress__bar .progress{
    width: 69%;
}
section.skills .skill.skill__2 .item:nth-child(6) .progress__bar .progress{
    width: 74%;
}

/*  skill 3 */
section.skills .skill.skill__3 .item:nth-child(1) .progress__bar .progress{
    width: 92%;
}
section.skills .skill.skill__3 .item:nth-child(2) .progress__bar .progress{
    width: 88%;
}
section.skills .skill.skill__3 .item:nth-child(3) .progress__bar .progress{
    width: 76%;
}
section.skills .skill.skill__3 .item:nth-child(4) .progress__bar .progress{
    width: 76%;
}
section.skills .skill.skill__3 .item:nth-child(5) .progress__bar .progress{
    width: 69%;
}
section.skills .skill.skill__3 .item:nth-child(6) .progress__bar .progress{
    width: 74%;
}

/*  skill 4 */
section.skills .skill.skill__4 .item:nth-child(1) .progress__bar .progress{
    width: 92%;
}
section.skills .skill.skill__4 .item:nth-child(2) .progress__bar .progress{
    width: 88%;
}
section.skills .skill.skill__4 .item:nth-child(3) .progress__bar .progress{
    width: 73%;
}


/* ======================= --------- Services Section--------------------------- ============================ */


section.services{
    background-color: var(--color-light);
}

section.services .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

section.services .container .service{
    background-color: var(--color-white);
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 2rem;
    cursor: default;
    transition: var(--transition);
}
section.services .container .service:hover{
    box-shadow: 1.7rem 2rem  rgba(0, 0, 0, .1);
    transform: scale(1.1);
    z-index: 2;
}
section.services .container .service i{
    font-size: 2rem;
}

/* ======================= --------- portfolio Section--------------------------- ============================ */

section.recent__work h1{
    text-align: start;
    width: 70%;
    margin: 2rem 0 2rem;
}

section.recent__work .projects{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    gap: 3rem;
}

section.recent__work .projects .project{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.recent__work .projects .project .action{
    display: flex;
    gap: 2rem;
}
section.recent__work .projects .project .action a{
    color: var(--color-primary);
}
section.recent__work .projects .project .action a:hover{
 text-decoration: underline;

}

/* testimonoals */


.testimonials__container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem;
}

.testimonial {
    padding-top: 2rem;
    cursor: grab;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
}

.testimonial__info {
    text-align: center;
}

.testimonial__body {
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    color: white;
    position: relative;
}

.testimonial__body::before {
    content: "";
    background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary));
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 45%;
    top: -1.5rem;
    transform: rotate(45deg)
}
